/**
 * designed to emulate root-element stretching and overflow
 * prevention previously handled in kbn_chrome.less
 */
.coreSystemRootDomElement {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

/************************************
 * DERBY CUSTOM STYLES
 ************************************/
@import '../../../scss/derby_variables.scss';
/*
* Hide the entire help menu dropdown. Let 'em use direct links to elastic
*/
#headerHelpMenu {
  display: none;
}

.euiSideNavItemButton.euiSideNavItemButton-isSelected .euiSideNavItemButton__label {
  color: $secondary-color;
}

.euiButton--primary {
  color: $primary-color;
  border-color: $primary-color;
}

.euiFieldSearch:focus {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  );
}

.euiSwitch .euiSwitch__body {
  background-color: $secondary-color;
}

.euiButton--primary.euiButton--fill:enabled:hover,
.euiButton--primary.euiButton--fill:enabled:focus {
  background-color: transparent;
  border-color: $primary-color;
  color: $primary-color;
}

.euiButton--primary.euiButton--fill {
  background-color: $primary-color;
  border-color: $primary-color;
  color: #fff;
}

.euiButtonEmpty--primary,
.euiButtonEmpty__text {
  color: $primary-color;
}

.euiTableHeaderButton:hover .euiTableCellContent__text,
.euiTableHeaderButton:focus .euiTableCellContent__text {
  color: $primary-color;
}

.euiPaginationButton-isActive.euiPaginationButton-isActive {
  color: $secondary-color;
}

.euiLink.euiLink--primary {
  color: $primary-color;
}

.euiLink.euiLink--primary:hover,
.euiLink.euiLink--primary:focus {
  color: $secondary-color;
}

.euiTableHeaderButton:hover .euiTableSortIcon,
.euiTableHeaderButton:focus .euiTableSortIcon {
  fill: $secondary-color;
}
.euiButtonIcon--primary {
  color: $primary-color;
}

.euiSuperDatePicker__prettyFormatLink {
  color: $primary-color;
}

/* Hide the contents of the SVG logos */
.euwHeaderLogo__icon g,
.loginWelcome__logo .euiIcon {
  display: none;
  visibility: hidden;
}

.euiTab.euiTab-isSelected {
  color: $primary-color;
}

.euiTab.euiTab-isSelected::after {
  background-color: $primary-color;
}

.euiButton--primary {
  color: $secondary-color;
  border-color: $secondary-color;
  background-color: rgba($color: $secondary-color, $alpha: 0.25);
}

.euiButton--primary:enabled:hover,
.euiButton--primary:enabled:focus {
  background-color: $secondary-color;
  color: white;
}

.euiDatePopoverButton:focus,
.euiDatePopoverButton-isSelected {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  );
}

.euiFieldNumber--compressed:focus,
.euiFieldNumber:focus,
.euiSelect--compressed:focus,
.euiSelect:focus {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  ) !important;
}

.react-datepicker__day--selected:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  color: $secondary-color;
}

.react-datepicker__day--today {
  color: $secondary-color;
}

.react-datepicker__year-option--selected_year,
.react-datepicker__month-option--selected_month,
.react-datepicker__time-list-item--selected {
  background: $secondary-color !important;
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
}

.euiListGroupItem-isActive {
  background-color: rgba($color: $secondary-color, $alpha: 0.25) !important;
}

.euiFieldText:focus,
.euiTextArea:focus,
.euiComboBox.euiComboBox-isOpen .euiComboBox__inputWrap,
.euiSuperSelectControl--compressed:focus,
.euiSuperSelectControl--compressed:hover,
.euiFieldPassword:focus,
.euiMarkdownEditorTextArea:focus,
.euiMarkdownEditor:focus-within .euiMarkdownEditorTextArea,
.euiFilePicker__showDrop .euiFilePicker__prompt,
.euiFilePicker__input:focus + .euiFilePicker__prompt,
.euiSuperSelectControl.euiSuperSelect--isOpen__button {
  background-image: linear-gradient(
    to top,
    $secondary-color,
    $secondary-color 2px,
    transparent 2px,
    transparent 100%
  );
}

.euiCheckableCard:not(.euiCheckableCard-isDisabled).euiCheckableCard-isChecked {
  border-color: $secondary-color;
}

.euiCheckableCard-isChecked .euiCheckableCard__control {
  background-color: rgba($color: $secondary-color, $alpha: 0.25);
}

.euiFormLabel-isFocused {
  color: $secondary-color !important;
}

.euiFilterSelectItem:focus,
.euiFilterSelectItem-isFocused {
  color: $primary-color;
}

.euiToast--success {
  border-top: 2px solid $primary-color;
}

.euiRadio .euiRadio__input:checked + .euiRadio__circle,
.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square {
  border-color: $secondary-color;
  background-color: $secondary-color;
}

.dscFieldSearch__toggleButton {
  color: $primary-color !important;
}

.euiSelectableListItem-isFocused:not([aria-disabled='true']),
.euiSelectableListItem:hover:not([aria-disabled='true']) {
  color: $primary-color;
}
.euiListGroupItem__button {
  color: $primary-color;
}

.conApp__editorActionButton--success {
  color: $secondary-color !important;
}

.euiTab:focus {
  background-color: rgba($color: $secondary-color, $alpha: 0.1);
}

.savedObjectsManagementImportSummary__createdCount,
.euiIcon--success {
  color: $secondary-color !important;
}

.euiButtonToggle__input:enabled:hover + .euiButtonToggle[class*='primary'],
.euiButtonToggle__input:enabled:focus + .euiButtonToggle[class*='primary'],
.euiButtonToggle__input:enabled:active + .euiButtonToggle[class*='primary'] {
  background-color: #1d1e24;
}

.euiToggle--checked .euiButtonToggle__input:enabled:hover + .euiButtonToggle[class*='primary'],
.euiToggle--checked .euiButtonToggle__input:enabled:focus + .euiButtonToggle[class*='primary'],
.euiToggle--checked .euiButtonToggle__input:enabled:active + .euiButtonToggle[class*='primary'] {
  background-color: $primary-color;
  border-color: $primary-color;
}

.euiBasicTable-loading tbody:before {
  background-color: $secondary-color !important;
}

button.euiHeaderSectionItem__button[data-test-subj='newsfeed'] {
  display: none;
}

.euiStepNumber {
  background-color: $secondary-color;
}

.kbnMarkdown__body a {
  color: $primary-color !important;
}

.kbnMarkdown__body a:hover {
  color: rgba($color: $primary-color, $alpha: 0.5) !important;
}

.euiStep__circle[class*='incomplete'] {
  border-color: $secondary-color;
}

span.euiIEFlexWrapFix > div > div.euiFlexItem.euiFlexItem--flexGrowZero > div > div.euiAvatar {
  background-color: $secondary-color !important;
}

.euiCard--isSelectable--success.euiCard-isSelected {
  border-color: $secondary-color;
}

.euiCardSelect--success:enabled {
  color: $secondary-color;
  background-color: rgba($color: $secondary-color, $alpha: 0.25);
}

.euiListGroupItem--primary .euiListGroupItem__text:not(:disabled),
.euiListGroupItem--primary .euiListGroupItem__button:not(:disabled) {
  color: $secondary-color;
}

.euiButtonEmpty--primary:focus {
  background-color: rgba($color: $primary-color, $alpha: 0.1);
}
/********************************
 * UNCONFIRMED
 ********************************/
